<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.just.shequnlianmeng">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 操作文件 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MODE_WORLD_READABLE" />
    <uses-permission android:name="android.permission.MODE_WORLD_WRITEABLE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/><!--解决部分手机不能Toast问题-->

    <application
        android:allowBackup="true"
        android:name=".APP"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.activitys.RelationMapActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activitys.SearchActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ui.activitys.RecommendInfoActivity" />
        <activity android:name=".ui.activitys.RecommendActivity" />
        <activity android:name=".ui.activitys.SignPickerActivity" />
        <activity android:name=".ui.activitys.ClaimInfoActivity" />

        <meta-data
            android:name="design_width"
            android:value="750" />
        <meta-data
            android:name="design_height"
            android:value="1334" />

        <activity android:name=".ui.activitys.MineClaimActivity" />
        <activity android:name=".ui.activitys.ClaimActiviy" />
        <activity android:name=".ui.activitys.LoginActivity"></activity>
    </application>

</manifest>